html,body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    background-color: #f2f3f5;
}
.layui-form {
    width: 500px;
}

/*头部弹性布局 两端对齐  */
.layui-card-header {
    display: flex;
    justify-content: space-between;
}

#form-add {
    padding-top: 20px;
}

.layui-input {
    width: 350px;
}