.layui-footer {
    text-align: center;
}

.layui-icon {
    margin-right: 8px;
}
.layui-nav-child  .layui-icon {
    margin-right: 8px;
    margin-left: 20px;
}

iframe {
    width: 100%;
    height: 100%;
}

a {
    transition: none !important;
}

.userinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    user-select: none;
}

.layui-side-scroll .userinfo {
    border-bottom: 1px solid #282b33;
}

.text-avatar {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    background-color: #009688;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    /* 让这个元素“相对于”它的起点进行移动。
    如果将 top 设置为 4px，那么框将在原位置顶部下面 4 像素的地方。 */
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.layui-nav-img {
    height: 40px;
    width: 40px;
}